{% extends "base.html" %}

{% block content %}

<h2>Patient Dashboard</h2>

<p>Welcome, {{ current_user.username }}.</p>

<h4 class="mt-4">My Tasks</h4>

{% if tasks %}

{% for task in tasks %}

<div class="card mb-3">
    <div class="card-body">

        <h5>{{ task.title }}</h5>

        <p>{{ task.instructions }}</p>

        <p>
            <strong>Status:</strong>
            {{ task.status }}
        </p>

        {% if task.status == "Pending"
        or task.status == "Needs Resubmission" %}

        <a href="{{ url_for('patient.submit_task', task_id=task.id) }}" class="btn btn-primary">
            Submit File
        </a>

        {% endif %}

        {% if task.status == "Submitted" %}

        <p>File uploaded.</p>

        {% endif %}

        {% if task.status == "Reviewed" %}

        <p>Submission reviewed by clinician.</p>

        {% endif %}

        {% if task.status == "Needs Resubmission" %}

        <p>Please upload a new file.</p>

        {% endif %}

    </div>
</div>

{% endfor %}

{% else %}

<p>You currently have no assigned tasks.</p>

{% endif %}
<hr class="my-4">

<h4>My Appointments</h4>

{% if appointments %}

{% for appointment in appointments %}

<div class="card mb-3">

    <div class="card-body">

        <h5>
            {{ appointment.summary }}
        </h5>

        <p>
            <strong>Date:</strong>
            {{ appointment.appointment_time }}
        </p>

        <p>
            <strong>Status:</strong>
            {{ appointment.status }}
        </p>

    </div>

</div>

{% endfor %}

{% else %}

<p>
    You have no scheduled appointments.
</p>

{% endif %}

{% endblock %}